body{
    padding:0px;
    margin:0px;
    min-height:100vh;
    max-height:100px;
    background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),url("S.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#home{
    width:100%;
    height:100vh;
    box-sizing:border-box;
     }
.text{
   font-size:4em; 
   color: rgb(227, 220, 220);
   text-align: center;
   padding:20%;
   font-style: italic;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: sans-serif;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: 2px 2px 12px rgba(0, 0, 0, 0.05);
    z-index:1;
}
.navlist{
    display: flex;
}
.navlist li a{
    padding: 10px 15px;
    color: rgb(227, 220, 220);
    font-size:12px;
}
.logo{
    font-size:25px;
    font-weight: bold;
    color: rgb(227, 220, 220);
    font-family:sans-serif;
}
.navlist li a:hover,
.active{
    background-color: #040303;
    color:#FFFFFF;
    font-weight: 700;
    transition: all ease 0.4s;
}

